.navbar {
    background-color: #e3f2fd;
}

.hero-image {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.pexels.com/photos/2234006/pexels-photo-2234006.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    min-height: 15em;
    height: 50%;
    align-self: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
}
      
.hero-text {
    text-align: center;
    color: white;
}

.hero-header{
    align-self: center;
    font-size:5vw !important;
}

.sec-2{
    background-color: darkgreen;
    color: white;
    text-align: center;
    padding: 3em 5em;
}

.img-words{
    margin-bottom: 35px;
    background-color: #eee;
    border-radius: 35px;
    overflow: hidden;
    position: relative;
    border-radius: 18px !important;
}

.img-words h2 {
    margin-bottom: 0;
    position: absolute;
    width: 100%;
    padding: 20px;
    bottom: 0;
    left: 0;
    background-color: #008425;
    text-transform: capitalize;
    font-size: 20px;
    color: #fff;

}

.farm-image{
    height: 100%;
    width: 100%;
}

.first-sec{
    max-width: 600px;
    display: grid;
    grid-gap: 55px;
    gap: 55px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    grid-template-columns: 555px 1fr;
    margin-bottom: 70px;
}

div{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    line-height: 120%;
    outline: 0;
    vertical-align: baseline;
}

/* Large devices (desktops, 768px and up) */
@media (min-width: 768px) and (max-width: 1200px) {
    .hero-header{
        font-size: 8vw!important;
    }

   .img-words {
        max-width: 550px;
        margin-bottom: 0;
    }
    .first-sec{
        width: 100%;
        max-width: 960px;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

  .first-sec .first-sec-content p {
        max-width: 460px;
        line-height: 25px;
        font-size: 20px;
    }
}