html, body{
    font-family: "Aladin", system-ui;
}

.chicle-regular {
    font-family: "Chicle", serif;
    font-weight: 400;
    font-style: normal;
}

.paprika-regular {
    font-family: "Paprika", system-ui;
    font-weight: 400;
    font-style: normal;
}

.smythe-regular {
    font-family: "Smythe", system-ui;
    font-weight: 400;
    font-style: normal;
}

.modak-regular {
    font-family: "Modak", system-ui;
    font-weight: 400;
    font-style: normal;
}

.lemon-regular {
    font-family: "Lemon", serif;
    font-weight: 400;
    font-style: normal;
}

.aladin-regular {
    font-family: "Aladin", system-ui;
    font-weight: 400;
    font-style: normal;
}

header{
    display: flex;
    flex-direction: column;
}

.menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.text-logo{
    display: flex;
    flex-direction: row;
}

.logo-image{
    width: 50px;
    height: auto;
}

.nav {
    width: 100vw;
    display: flex;
}


.nav-items{
    justify-self: right;
    justify-content: flex-end;

}

.main-section{
    background: burlywood;
}
.main-text{
    font-family: "Lemon", serif;
}  


