body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: black;
    color: white;
}

.heading{
    text-align: center;
}

.logo {
    size: 5rem;
    max-width: 200px;
}

.container{
    text-align: center;
    margin-bottom: 5rem;
}


.apply-form {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
}

input{
    width: 100%;
    padding-bottom: 1rem;
}

button {
    display: flex;
    font-size: 1.25rem;
    padding: .5rem 1rem;
    border-radius: .3rem;
    color: black;
    background-color: white;
    align-self: center;
    margin-top: 1rem;
    text-align: center;
}

footer {
    display: flex;
    flex-flow: row wrap;
    position: absolute;
    background: #222491;
    font-size: 1rem;
    color: #FAC7F8;
    height: 3rem;
    width: 100%;
    justify-content: center;
    align-content: center;
    padding: .5rem 0 .8rem 0;
    z-index: 3;
    text-align: center;
}