.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;    
    text-align: center;
    height: 50vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100vw;
}

header {
    font-size: 2rem;
    padding-bottom: 2rem;
    color: #7C76A6;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-input {
    padding: .6rem 1rem;
    border-radius: .3rem;
    margin-bottom: 2rem;
    font-size: 1rem;
    text-align: center;
    background-color: #fffff2;
}

.btn {
    font-size: 1.25rem;
    padding: .5rem 1rem;
    border-radius: .3rem;
    color: #FEF0F0;
    background-color: #7C76A6;
}

.border {
    border: .11rem solid #7C76A6;
}

.main {
    position: relative;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    width: 100%;
}